body {
  h1,
  p,
  span {
    margin: 0;
    padding: 0;
  }
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;

  .card__chat {
    position: relative;
    width: 375px;
    
    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      background-image: linear-gradient(to right, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
      height: 80px;
    }

    [class^="ph-"] {
      color: #fff;
    }
  
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 2px solid #fff;
    }
  
    .name {
      flex: 0 50%;

      h1 {
        color: #fff;
        font-size: 16px;
      }
  
      span {
        color: hsl(276, 100%, 81%);
        font-size: 12px;
      }
    }

    .body {
      display: grid;
      gap: 10px;
      padding: 30px;
      background-color: hsl(270, 20%, 96%);

      .text-1 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 170px;

        span {
          padding: 11px 14px;
          background-color: hsl(276, 100%, 81%);
          color: hsl(276, 55%, 52%);
          font-size: 12px;
          border-radius: 10px;
        }
      }

      .text-2 {
        display: flex;
        align-items: end;
        flex-direction: column;
        gap: 10px;

        img {
          border-radius: 16px;
          width: 60px;
          height: 70px;
          object-fit: cover;
        }

        span {
          max-width: 160px;
          background-color: #fff;
          color: hsl(271, 15%, 43%);
          padding: 11px 14px;
          border-radius: 10px;
        }
      }

      .text-3 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 170px;

        span {
          padding: 11px 14px;
          background-color: hsl(276, 100%, 81%);
          color: hsl(276, 55%, 52%);
          font-size: 12px;
          border-radius: 10px;
        }

        .walk {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }
    }
  }

}


.attribution { 
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }

  a {
    color: hsl(276, 100%, 81%);
    color: hsl(276, 55%, 52%);
    color: hsl(271, 15%, 43%);
    color: hsl(206, 6%, 79%);
    color: hsl(271, 36%, 24%);
    color: hsl(270, 7%, 64%);
    
    color:  hsl(293, 100%, 63%);
    color:  hsl(264, 100%, 61%);
    
    
    
    color:  hsl(0, 0%, 100%);
    color:  hsl(270, 20%, 96%);
    color:  hsl(271, 36%, 24%);
    color:  hsl(289, 100%, 72%);
  }
}