body {
  background-color: hsl(270deg, 20%, 96%);
  // background-image: linear-gradient(90deg, hsl(264, 100%, 61%) 20%,
  // hsl(293, 100%, 63%) 33%, hsl(270deg, 20%, 96%) 30%);
  font-family: 'Rubik', sans-serif;

  h1,
  p,
  span {
    margin: 0;
    padding: 0;
  }
}

.card-bg {
  max-width: 1440px;
  margin: 0 auto;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;

  .card__chat {
    position: relative;
    width: 375px;
    border: 10px solid #fff;
    border-radius: 32px;
    box-shadow: 0px 30px 100px hsl(206, 6%, 79%);
    
    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      background-image: linear-gradient(to right, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
      height: 80px;
      border-radius: 20px 20px 0 0;
    }

    [class^="ph-"] {
      color: #fff;
    }
  
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 2px solid #fff;
    }
  
    .name {
      flex: 0 50%;

      h1 {
        color: #fff;
        font-size: 16px;
      }
  
      span {
        color: hsl(276, 100%, 81%);
        font-size: 12px;
      }
    }

    .body {
      display: grid;
      gap: 10px;
      padding: 30px;
      background-color: hsl(270, 20%, 96%);
      border-radius: 0 0 20px 20px;

      .text-1 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 170px;

        span {
          padding: 11px 14px;
          background-color: hsl(276, 100%, 81%);
          color: hsl(276, 55%, 52%);
          font-size: 12px;
          border-radius: 10px;
          line-height: 16px;
        }
      }

      .text-2 {
        display: flex;
        align-items: end;
        flex-direction: column;
        gap: 10px;

        img {
          border-radius: 16px;
          width: 60px;
          height: 70px;
          object-fit: cover;
        }

        span {
          max-width: 160px;
          background-color: #fff;
          color: hsl(271, 15%, 43%);
          padding: 11px 14px;
          border-radius: 10px;
          font-size: 12px;
          line-height: 16px;
        }
      }

      .text-3 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        
        span {
          max-width: 150px;
          padding: 11px 14px;
          background-color: hsl(276, 100%, 81%);
          color: hsl(276, 55%, 52%);
          font-size: 12px;
          border-radius: 10px;
          line-height: 16px;
        }

        .walk {
          display: flex;
          flex-direction: column;
          gap: 10px;
          max-width: 220px;

          p {
            background-image: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
            padding: 11px 14px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 12px;
            color: hsl(270, 20%, 96%);

            strong {
              font-size: 14px;
              color: #fff;
            }
          }
        }
      }

      form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 290px;
        width: 100%;
        border-radius: 32px;
        padding: 5px 5px 5px 20px;
        background: #fff;
        
        input {
          border: 0;

          &:focus-visible {
            outline: none;
          }
        }

        button {
          display: flex;
          align-items: center;
          width: 24px;
          height: 24px;
          background: hsl(271, 36%, 24%);
          border-radius: 32px;
          border: 0;
        }
      }
    }
  }

  .content {
    display: grid;
    gap: 20px;
    max-width: 44ch;
    
    h1 {
      font-size: 50px;
      font-weight: 500;
      color: hsl(271, 36%, 24%);
    }

    p {
      line-height: 30px;
      color: hsl(270, 7%, 64%);
    }
  }

}


.attribution { 
  a {
    color: hsl(276, 100%, 81%);
    color: hsl(276, 55%, 52%);
    color: hsl(271, 15%, 43%);
    color: hsl(206, 6%, 79%);
    color: hsl(271, 36%, 24%);
    color: hsl(270, 7%, 64%);
    
    color:  hsl(293, 100%, 63%);
    color:  hsl(264, 100%, 61%);
    
    
    
    color:  hsl(0, 0%, 100%);
    color:  hsl(270, 20%, 96%);
    color:  hsl(271, 36%, 24%);
    color:  hsl(289, 100%, 72%);
  }
}