.body {
  color: hsl(276, 100%, 81%);
  color: hsl(276, 55%, 52%);
  color: hsl(271, 15%, 43%);
  color: hsl(206, 6%, 79%);
  color: hsl(271, 36%, 24%);
  color: hsl(270, 7%, 64%);
  
  color:  hsl(293, 100%, 63%);
  color:  hsl(264, 100%, 61%);
  
  
  
  color:  hsl(0, 0%, 100%);
  color:  hsl(270, 20%, 96%);
  color:  hsl(271, 36%, 24%);
  color:  hsl(289, 100%, 72%);
}

